[submodule "modules/stp"]
	path = modules/stp
	url = https://github.com/stp/stp.git
[submodule "modules/cryptominisat"]
	path = modules/cryptominisat
	url = https://github.com/msoos/cryptominisat.git
